@charset "UTF-8";
/*Reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

/*CSS Footer*/
footer {
  background-color: #333;
  height: auto;
  width: auto;
  font-family: sans-serif;
  padding-top: 50px;
  padding-bottom: 5px;
  color: #fff; }

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; }
  .footer-content h3 {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 3rem; }
    .footer-content h3 p {
      max-width: 900px;
      margin: 10px auto;
      line-height: 28px;
      font-size: 14px; }

.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0; }
  .social li {
    margin: 0 10px; }
    .social li a {
      text-decoration: none;
      color: #fff; }
      .social li a:hover {
        color: aqua; }
        .social li a:hover a i {
          font-size: 1.1rem;
          transition: color 0.4s ease; }

.footer-bottom {
  background-color: #000;
  width: 100%;
  padding: 20px 0; }
  .footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    text-align: center; }
    .footer-bottom p span {
      opacity: .6;
      font-weight: 200; }

/*CSS Section Index*/
.fotoSpartan {
  padding-top: 5rem;
  text-align: center; }

.title {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 3rem;
  text-align: center;
  font-family: sans-serif; }

/*CSS Section Galery*/
.h2galery {
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  padding: 20 px 0;
  font-size: 40px;
  color: #333;
  /*Animacion H2*/
  animation-duration: 2s;
  animation-name: h2galeria;
  animation-iteration-count: infinite; }

/*Animacion H2*/
@keyframes h2galeria {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.linea {
  background: #550b51;
  height: 5px;
  width: 100%;
  display: block; }

/*CSS section preguntas.html*/
.preguntas {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("../images/fondo.jpg");
  /*background: rgb(62,62,64);
  background: linear-gradient(90deg, rgba(62,62,64,1) 0%, rgba(171,171,176,1) 35%, rgba(223,227,228,1) 100%);*/
  max-width: auto;
  padding-top: 3rem; }
  .preguntas .faqs {
    /*@extend .nosotros__text;*/
    padding-left: 15%;
    padding-right: 15%;
    /*padding-left: 15%;
      padding-right: 15%;*/
    font-weight: bold; }

.faqs h5 {
  text-align: center;
  padding-top: 2rem;
  color: white; }

.faqs .p__faqs {
  text-decoration: double;
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 0;
  color: white; }

.p__faqs {
  border-bottom: 1px solid black; }

.h5__faqs {
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem; }

/*CSS section nosotros.html*/
.nosotros {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("/images/fondo - copia.jpg");
  /*background: rgb(62,62,64);
    background: linear-gradient(90deg, rgba(62,62,64,1) 0%, rgba(171,171,176,1) 35%, rgba(223,227,228,1) 100%);*/
  color: white;
  max-width: auto;
  text-align: center;
  padding: 50px 20px 20px 20px; }
  .nosotros .nosotros__text {
    padding-left: 15%;
    padding-right: 15%;
    font-weight: bold; }
    .nosotros .nosotros__text .h5 .h6 {
      text-align: center; }
      .nosotros .nosotros__text .h5 .h6 .p {
        text-decoration: double; }

.p__nosostros {
  border-bottom: 1px solid black; }

.span_nosotros {
  font-weight: bold;
  font-style: italic; }

.h5_nosotros {
  font-weight: bold;
  font-style: italic;
  font-size: 2rem; }

/*CSS section contacto.html*/
.sectioncontacto {
  /*background: rgb(207, 203, 203);*/
  background-image: url("../images/fondo.jpg"); }

.content {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em; }

.contact-wrapper {
  box-shadow: 0 0 20px 0 white; }

.contact-wrapper > * {
  padding: 1em; }

.contact-form {
  background: #cfcbcb; }

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.contact-form form .block {
  grid-column: 1 / 3; }

.contact-form form p {
  margin: 0;
  padding: 1em; }

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  border-bottom: 1px solid #d63031; }

.contact-form form button {
  background: #DDBEBE;
  border: 0;
  text-transform: uppercase;
  padding: 1em; }

.contact-form form button:hover,
.contact-form form button:focus {
  background-color: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0; }

.contact-info {
  background: #FBF3E4; }

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0; }

.contact-info ul {
  list-style: none;
  padding: 0; }

.contact-info ul li {
  padding: .3em; }

.contact-info img {
  width: 30ex;
  height: 30ex; }

.contact-form h3 {
  text-align: center; }

/*CSS section sedes.html */
.sedes {
  background-image: url("../images/fondo.jpg");
  margin: 0;
  padding-top: 5rem;
  padding-bottom: 5rem; }

.card-body h5 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333; }

.card-body span {
  font-weight: bold; }

/*CSS planesyhorarios.html*/
.planesyhorarios {
  background-image: url("../images/fondo.jpg");
  padding-top: 2rem;
  padding-bottom: 2rem; }

/*
CSS - turnos.html
*/
.sectionturnos {
  background-image: url("../images/fondo.jpg");
  height: 100vh; }

.turnos {
  text-align: center;
  margin: 0 auto;
  /*margin-top: 5rem;*/
  margin-bottom: 5rem;
  color: #fff;
  font-style: italic bold;
  width: 35rem;
  padding: 2rem 2rem;
  box-shadow: 0 0 20px 0; }
  .turnos h3 {
    font-weight: bold;
    color: black; }

.email__holder {
  width: 300px;
  text-align: center; }

.turnos__email {
  padding-bottom: 1rem; }

.turnos__sede {
  padding-bottom: 1rem; }

.turnos__dia {
  padding-bottom: 1rem; }

.turnos__horario {
  padding-bottom: 1rem; }

.turnos__submit {
  height: 2rem;
  width: 10rem;
  border-radius: 10%;
  background-color: #333;
  font-size: 1rem;
  font-weight: bold; }

.turnos__submit:hover {
  background-color: rgba(0, 136, 169, 0.8); }

.apps__title {
  padding-top: 2rem; }

.apps_logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/*Media Query for mobile*/
/*TABLET*/
@media screen and (max-width: 1024px) {
  .header {
    height: auto;
    padding-top: 0.5rem; }
  .header__container {
    flex-direction: column; }
  /*Sidebar (menú lateral)*/
  .btn-open-sidebar {
    display: inline-block;
    background-color: rgba(0, 136, 169, 0.8);
    border-radius: 5px;
    padding: 0.5rem 2rem;
    color: #fff; }
  /*Ocultar menu*/
  .nav__links {
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-100%);
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    transition: transform 0.5s;
    z-index: 100; }
  /*Visualizacion menu lateral*/
  #sidebar:target {
    transform: translate(0); }
  /*Visualizacion del icono de cerrar*/
  .btn-close-sidebar {
    display: inline; }
  /*Redunccion de letra*/
  .header__logo {
    font-size: 2.5rem; }
  /*Colocacion Nombre y barra de menu en linea*/
  .header__container {
    flex-direction: row; } }

/*QUERY - planesyhorarios.htm*/
.planesyhorarios {
  display: flex;
  flex-direction: column; }

.clases {
  width: 100%; }

.horarios {
  width: 100%; }

/*MOBILE*/
@media screen and (max-width: 600px) {
  .nav__links {
    flex-wrap: wrap;
    gap: 20px; }
  .header {
    height: auto; }
  /*Sidebar (menú lateral)*/
  .btn-open-sidebar {
    display: inline-block;
    background-color: rgba(0, 136, 169, 0.8);
    border-radius: 5px;
    padding: 0.5rem 2rem;
    color: #fff; }
  /*Ocultar menu*/
  .nav__links {
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-100%);
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    transition: transform 0.5s;
    z-index: 100; }
  /*Visualizacion menu lateral*/
  #sidebar:target {
    transform: translate(0); }
  /*Visualizacion del icono de cerrar*/
  .btn-close-sidebar {
    display: inline; }
  /*Redunccion de letra*/
  .header__logo {
    font-size: 2rem; }
  /*Colocacion Nombre y barra de menu en linea*/
  .header__container {
    flex-direction: row; }
  /*Reduccion h5 - nosotros.html*/
  .h5_nosotros {
    font-size: 1.5rem; } }

/*QUERY MOBILE - planesyhorarios.html*/
/*Reducción sectin clases - planesyhorarios.html*/
.clases {
  width: 100vw;
  margin-top: 0.5rem; }

.clases__h1 {
  font-size: 1.5rem; }

.clases__sesiones {
  font-size: 1rem; }

.horarios {
  width: 100vw;
  margin: 0px 10px 0px 10px; }

.horarios__title {
  font-size: 1rem; }

/*QUERY MOBILE - turnos.html*/
/*Reducción clase turnos__email - planesyhorarios.html*/
.turnos {
  width: 100%; }
