@charset "UTF-8";
/*Reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

/*CSS Footer*/
footer {
  background-color: #333;
  height: auto;
  width: auto;
  font-family: sans-serif;
  padding-top: 50px;
  padding-bottom: 5px;
  color: #fff; }

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px; }
  .footer-content h3 {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 3rem; }
    .footer-content h3 p {
      max-width: 900px;
      margin: 10px auto;
      line-height: 28px;
      font-size: 14px; }

.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0; }
  .social li {
    margin: 0 10px; }
    .social li a {
      text-decoration: none;
      color: #fff; }
      .social li a:hover {
        color: aqua; }
        .social li a:hover a i {
          font-size: 1.1rem;
          transition: color 0.4s ease; }

.footer-bottom {
  background-color: #000;
  width: 100%;
  padding: 20px 0; }
  .footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    text-align: center; }
    .footer-bottom p span {
      opacity: .6;
      font-weight: 200; }

/*CSS Section Index*/
.fotoSpartan {
  padding-top: 5rem;
  text-align: center; }

.title {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 3rem;
  text-align: center;
  font-family: sans-serif; }

/*CSS Section Galery*/
.h2galery {
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  padding: 20 px 0;
  font-size: 40px;
  color: #333;
  /*Animacion H2*/
  animation-duration: 2s;
  animation-name: h2galeria;
  animation-iteration-count: infinite; }

/*Animacion H2*/
@keyframes h2galeria {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.linea {
  background: #550b51;
  height: 5px;
  width: 100%;
  display: block; }

/*CSS section preguntas.html*/
.preguntas {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("../images/fondo.jpg");
  /*background: rgb(62,62,64);
  background: linear-gradient(90deg, rgba(62,62,64,1) 0%, rgba(171,171,176,1) 35%, rgba(223,227,228,1) 100%);*/
  max-width: auto;
  text-align: center;
  padding: 3rem 15rem 3rem 15rem; }
  .preguntas .faqs {
    /*@extend .nosotros__text;*/
    padding-left: 15%;
    padding-right: 15%;
    /*padding-left: 15%;
      padding-right: 15%;*/
    font-weight: bold; }

.faqs h5 {
  text-align: center;
  padding-top: 2rem;
  color: white; }

.faqs .p__faqs {
  text-decoration: double;
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 0;
  color: white; }

.p__faqs {
  border-bottom: 1px solid black; }

.h5__faqs {
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem; }

/*CSS section nosotros.html*/
.nosotros {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("../images/fondo2.jpg");
  /*background: rgb(62,62,64);
    background: linear-gradient(90deg, rgba(62,62,64,1) 0%, rgba(171,171,176,1) 35%, rgba(223,227,228,1) 100%);*/
  color: black;
  max-width: auto;
  text-align: center;
  padding: 3rem 15rem 3rem 15rem; }

/*CSS section contacto.html*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif; }

body {
  height: 100vh;
  width: 100%; }

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px; }

.container:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../images/fondo2.jpg") center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1; }

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19); }

.left {
  background: url("../images/12.jpg") center;
  background-size: cover;
  height: 100%; }

.right {
  padding: 25px 40px; }

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px; }

h2:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #2ecc71; }

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s; }

.field:hover {
  background-color: rgba(0, 0, 0, 0.1); }

textarea {
  min-height: 150px; }

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s; }

.btn:hover {
  background-color: #27ae60; }

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff; }

/*CSS section sedes.html */
.sedes {
  background-image: url("../images/fondo.jpg");
  margin: 0;
  padding-top: 5rem;
  padding-bottom: 5rem; }

.card-body h5 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333; }

.card-body span {
  font-weight: bold; }

/*CSS planesyhorarios.html*/
.planesyhorarios {
  background-image: url("../images/fondo.jpg");
  padding-top: 2rem;
  padding-bottom: 2rem; }

/*
CSS - turnos.html
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif; }

body {
  height: 100vh;
  width: 100%; }

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px; }

.container:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../images/12.jpg") no-repeat center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1; }

.contact-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19); }

.left {
  background: url("../images/12.jpg") no-repeat center;
  background-size: cover;
  height: 100%; }

.right {
  padding: 25px 40px; }

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px; }

h2:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #2ecc71; }

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s; }

.field:hover {
  background-color: rgba(0, 0, 0, 0.1); }

textarea {
  min-height: 150px; }

.btn {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s; }

.btn:hover {
  background-color: #27ae60; }

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff; }

.turnos__dia {
  margin-top: 1rem; }

.turnos__horario {
  margin-top: 1rem; }

.apps__title {
  padding-top: 2rem;
  text-align: center; }

.apps__logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }

/*Media Query for mobile*/
/*TABLET*/
@media screen and (max-width: 1024px) {
  .header {
    height: auto;
    padding-top: 0.5rem; }
  .header__container {
    flex-direction: column; }
  /*Sidebar (menú lateral)*/
  .btn-open-sidebar {
    display: inline-block;
    background-color: rgba(0, 136, 169, 0.8);
    border-radius: 5px;
    padding: 0.5rem 2rem;
    color: #fff; }
  /*Ocultar menu*/
  .nav__links {
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-100%);
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    transition: transform 0.5s;
    z-index: 100; }
  /*Visualizacion menu lateral*/
  #sidebar:target {
    transform: translate(0); }
  /*Visualizacion del icono de cerrar*/
  .btn-close-sidebar {
    display: inline; }
  /*Redunccion de letra*/
  .header__logo {
    font-size: 2.5rem; }
  /*Colocacion Nombre y barra de menu en linea*/
  .header__container {
    flex-direction: row; }
  .nosotros {
    padding: 1rem 5rem 1rem 5rem; }
  .preguntas {
    padding: 1rem 5rem 1rem 5rem; } }

/*QUERY - planesyhorarios.htm*/
.planesyhorarios {
  display: flex;
  flex-direction: column; }

.clases {
  width: 100%; }

.horarios {
  width: 100%; }

/*MOBILE*/
@media screen and (max-width: 600px) {
  .nav__links {
    flex-wrap: wrap;
    gap: 20px; }
  .header {
    height: auto; }
  /*Sidebar (menú lateral)*/
  .btn-open-sidebar {
    display: inline-block;
    background-color: rgba(0, 136, 169, 0.8);
    border-radius: 5px;
    padding: 0.5rem 2rem;
    color: #fff; }
  /*Ocultar menu*/
  .nav__links {
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-100%);
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    transition: transform 0.5s;
    z-index: 100; }
  /*Visualizacion menu lateral*/
  #sidebar:target {
    transform: translate(0); }
  /*Visualizacion del icono de cerrar*/
  .btn-close-sidebar {
    display: inline; }
  /*Redunccion de letra*/
  .header__logo {
    font-size: 2rem; }
  /*Colocacion Nombre y barra de menu en linea*/
  .header__container {
    flex-direction: row; }
  /*Reduccion h5 - nosotros.html*/
  .h5_nosotros {
    font-size: 1.5rem; }
  .footer-content {
    padding-left: 20px;
    padding-right: 20px; }
  .contact-box {
    grid-template-columns: 1fr; }
  .left {
    height: 200px; }
  .nosotros {
    padding: 1rem 2rem 1rem 2rem; }
  .preguntas {
    padding: 1rem 2rem 1rem 2rem; } }

/*QUERY MOBILE - planesyhorarios.html*/
/*Reducción sectin clases - planesyhorarios.html*/
.clases {
  width: 100vw;
  margin-top: 0.5rem; }

.clases__h1 {
  font-size: 1.5rem; }

.clases__sesiones {
  font-size: 1rem; }

.horarios {
  width: 100vw;
  margin: 0px 10px 0px 10px; }

.horarios__title {
  font-size: 1rem; }

/*QUERY MOBILE - turnos.html*/
/*Reducción clase turnos__email - planesyhorarios.html*/
.turnos {
  width: 100%; }
