/*CSS section nosotros.html*/

.nosotros{
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), 
    url("../../Images/fondo.jpg");
    /*background: rgb(62,62,64);
    background: linear-gradient(90deg, rgba(62,62,64,1) 0%, rgba(171,171,176,1) 35%, rgba(223,227,228,1) 100%);*/
    color: white;
    max-width: auto;
    text-align: center;
    padding: 50px 20px 20px 20px; 
    
    
        .nosotros__text{
            @include styles(15%, 15%);
            font-weight: map-get($estilos, fw);
   
                .h5 .h6{
                    text-align: center;
                    
                
    
                        .p{
                            text-decoration: double;
            
                        }
                }
        }
}


 
 .p__nosostros{
     border-bottom: 1px solid black;
 }
 
 .span_nosotros{
     font-weight: bold;
     font-style: italic;
 }
 
 .h5_nosotros{
     font-weight: bold;
     font-style: italic;
     font-size: 2rem;
 }



