/*CSS section nosotros.html*/

.nosotros{
    /*background-image: $mifondo;*/
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 46%, rgba(6,203,244,1) 100%);
    color: #fff;
    max-width: auto;
    text-align: center;
    padding: 50px 20px 20px 20px; 
    color: #fff;
    
        .nosotros__text{
            @include styles(15%, 15%);
            font-weight: map-get($estilos, fw);
   
                .h5 .h6{
                    text-align: center;
                    
                
    
                        .p{
                            text-decoration: double;
            
                        }
                }
        }
}


 
 .p__nosostros{
     border-bottom: 1px solid black;
 }
 
 .span_nosotros{
     font-weight: bold;
     font-style: italic;
 }
 
 .h5_nosotros{
     font-weight: bold;
     font-style: italic;
     font-size: 2rem;
 }



