
/*CSS section sedes.html */ 
.sedes{
    background-image: $mifondo;
    margin: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
}




.card-body h5{
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.card-body span{
    font-weight: bold;
}
